<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523274896299-811bc2130a7lj3pfq2du5rbli9on1sdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523274896299-811bc2130a7lj3pfq2du5rbli9on1sdj</string>
	<key>API_KEY</key>
	<string>AIzaSyBHGN9E2k1x9JZP2V2UxFnJNQIsqZPc6AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>523274896299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testeapp.br</string>
	<key>PROJECT_ID</key>
	<string>teste-26a61</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-26a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523274896299:ios:22a111d8f98019de5208ee</string>
</dict>
</plist>